:root{
    --lg:24px;
    --sm:18px;
    --mn:14px;
    --ColorOrange:#FF9536;
    --ColorGrayText:#757575;
    --ColorGrayTextPrice:#B5B0AC;
    --ColorSofOrange: #FFE9D4;
    --backgroundBlack:#201E1C;
    --backgoundFooter:#F7931A;
    --RayaBorde:#c7c3c1;
    --colorBlueText:#1A9AF7;
    --colorSoftBlue:#E7F5FF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    font-family: 'DM Sans', sans-serif;
}
header{
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);;
    width: 100%;
    margin: 0 auto;
}
header .headerContainer{
    width: 100%;
    height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.logo{
    width: 150px;
    height: 50px;
    margin: 30px 0;
}
.logo img{
    width: 100%;
    height: 100%;
}
header .title{
    color: #fff;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
header .subtitle{
    text-align: center;
    font-size: 14px;
    color: #ffff;
}
header .primaryButton{
    width: 250px;
    height: 40px;
    position: relative;
    font-weight: 600;
    top: 22px;
    background-color: #faf8f7;
    border: none;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 4px;
}
header .primaryButton:hover{
    color: var(--ColorOrange);
}
header .primaryButton i{
    padding: 0 0 0 5px;
}
header .primaryButton:hover{
    cursor: pointer;
}
/* main */
.MainContainer{
    background: rgba(20,26,34,1);
    width: 100%;
    margin: 0 auto;
}
/* seccion 1 */
.MainContainer .seccion1{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.MainContainer .seccion1 figure{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.MainContainer .seccion1 .tasaInf{
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ffff;
}
.MainContainer .seccion1 .tasaTimeInf{
    text-align: center;
    font-weight: 500;
    padding-bottom: 50px;
    color: #ccc;
}
.MainContainer .seccion1 .Container-de-las-tasas{
    display: flex;
    margin: 0 10px 20px 0;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.MainContainer .seccion1 .ContainerTasa{
    scroll-snap-align: center;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.24);
    border-radius: 8px;
    width: 100%;
    min-width: 250px;
    max-width: 290px;
    margin: 0 20px 20px;
    background: #1C2833;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.MainContainer .seccion1 .ContainerTasa .containerMoney{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.MainContainer .seccion1 .ContainerTasa .containerMoney .CajaCoin{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.MainContainer .seccion1 .ContainerTasa .containerMoney .CajaCoin p{
    color: #ffff;
    font-weight: bold;
}
.MainContainer .seccion1 .ContainerTasa .containerMoney .CajaCoin td:nth-child(2) p{
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.MainContainer .seccion1 .ContainerTasa .containerMoney .CajaCoin td:nth-child(2) p span{
    color: green;
    cursor:default;
}
.MainContainer .seccion1 .ContainerTasa .containerMoney .CajaCoin td:nth-child(2) p span:hover{
    color: red;
}
.MainContainer .seccion1 .ContainerTasa .containerMoney .titleMoney{
    text-align: center;
    color: var(--ColorOrange);
    padding: 10px 0 10px 0;
    font-weight: bold;
    border-bottom: 1px solid;
}.MainContainer .seccion1 .ContainerTasa .containerMoney .titleMoneyBlue{
    color: var(--colorBlueText);
}
.MainContainer .seccion1 .ContainerTasa .containerMoney .tasaMoney .CajaCoin .LogoCripto{
    width: 15px;
    height: 15px;
}
.MainContainer .seccion1 .ContainerTasa .containerMoney .infActualMoney{
    width: 100%;
    height: 40px;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: var(--ColorOrange);
    font-size: var(--mn);
    font-weight: bold;
}
.MainContainer .seccion1 .ContainerTasa .containerMoney .infActualMoneyBlue{
    background-color: var(--colorBlueText);
}
.MainContainer .seccion1 .ContainerTasa .containerMoney .infActualMoney p span{
    color: var(--backgroundBlack);
    font-size: var(--mn);
}
/* seccion 2 */
.MainContainer .seccion2{
    background-color: var(--backgroundBlack);
    color: #ffff;
}
.MainContainer .seccion2 .logo-batata{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 11px;
}
.MainContainer .seccion2 .batata{
    position: absolute;
}
.MainContainer .seccion2 .container{
    width: 300px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.MainContainer .seccion2 .container .title{
    text-align: center;
    font-size: var(--lg);
    font-weight: 600;
    margin-top: 60px;
}
.MainContainer .seccion2 .container .subTitle{
    text-align: center;
    color: var(--ColorGrayText);
    font-size: var(--mn);
    margin: 15px 0;
}
.MainContainer .seccion2 .container .ContainerSliderAll{
    display: grid;
    gap: 50px;
    padding: 40px 0 60px 0;
}
.MainContainer .seccion2 .container .ContainerSlider{
    background-color: #282623;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 180px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
}
.MainContainer .seccion2 .container .slider{
    padding: 20px;
}
.MainContainer .seccion2 .container .slider p{
    color: var(--ColorGrayText);
}
/* seccion 3 */
.MainContainer .seccion3{
    margin: 0 auto;
    max-width: 425px;
    height: 400px;
    background-image: url(./assets/img/bitcoinbaby.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
.MainContainer .seccion3 .title{
    color: #ffff;
    font-weight: 600;
    font-size: var(--lg);
    display: flex;
    justify-content: center;
    padding: 60px 0 0 0;
}
/* seccion 4 */
.MainContainer .seccion4{
    width: 100%;
    height: 100%;
}
.MainContainer .seccion4 .container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.MainContainer .seccion4 .container .containerSeccion{
    display: flex;
    margin: 50px 30px 0;
    height: 380px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.MainContainer .seccion4 .container .title{
    text-align: center;
    font-size: var(--lg);
    font-weight: 600;
    padding-top: 80px;
    color: #fff;
}
.MainContainer .seccion4 .container .subtitle{
    text-align: center;
    padding: 20px 0 40px 0;
    color: #ccc;
}
.MainContainer .seccion4 .containerPlan{
    background-color: #1C2833;
    scroll-snap-align: center;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 8px;
    width: 100%;
    min-width: 250px;
    max-width: 290px;
    height: 260px;
    margin: 50px 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.MainContainer .seccion4 .containerPlan .recomendacion{
    width: 130px;
    height: 40px;
    background: var(--ColorOrange);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    bottom: 20px;
}
.MainContainer .seccion4 .containerPlan .recomendacion p{
    color: #ffff;
    font-weight: bold;
}
.MainContainer .seccion4 .containerPlan .plan1 p{
    color: #fff;
}
.MainContainer .seccion4 .containerPlan .plan1 p:nth-child(2){
    text-align: center;
    font-weight: bold;
}
.MainContainer .seccion4 .containerPlan .plan1 .price{
    display: flex;
    justify-content: center;
}
.MainContainer .seccion4 .containerPlan .plan1 .price p{
    font-size: 50px;
}
.MainContainer .seccion4 .containerPlan .plan1 p:nth-child(4){
    text-align: center;
    padding: 10px 10px;
}
.MainContainer .seccion4 .container .selectPlan{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    border: 2px solid var(--ColorOrange);
}
.MainContainer .seccion4 .container .selectPlan p{
    display: flex;
    align-items: center;
    justify-content: center;
} 
.MainContainer .seccion4 .container .selectPlan p a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.MainContainer .seccion4 .container .selectPlan p a:hover{
    color: blue;
    padding-right: 5px;
}
.MainContainer .seccion4 .container .selectPlan p img{
    width: 20px;
} 
.MainContainer .seccion4 .container .fa-arrow-left:hover,
.MainContainer .seccion4 .container .fa-arrow-right:hover{
    color: var(--ColorOrange);
    cursor: pointer;
}
/* footer */
footer{
    width: 100%;
    margin: 0 auto;
    height: 100px;
    background: var(--backgoundFooter);
    color: #ffff;
}
footer nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer nav p{
    text-align: center;
    font-size: 10px;
    color: #fff;
    position: relative;
    bottom: 10px;
}
footer nav div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
footer nav ul{
    list-style: none;
}
footer nav ul li a{
    text-decoration: none;
    color: #fff;
}
footer nav ul li a:hover{
    color: blue;
}
@media(min-width:375px){
    .MainContainer .seccion2 .container{
        width: 320px;
    }
    .MainContainer .seccion1 .containerMoney{
        width: 230px;
    }
}
@media(min-width:425px){
    .MainContainer .seccion2 .container{
        width: 380px;
    }
}
@media(min-width:450px){
    .MainContainer .seccion2 .container{
        width: 400px;
    }
}
