:root{
    --lg:24px;
    --sm:18px;
    --mn:14px;
    --ColorOrange:#FF9536;
    --ColorGrayText:#757575;
    --ColorGrayTextPrice:#B5B0AC;
    --ColorSofOrange: #FFE9D4;
    --backgroundBlack:#201E1C;
    --backgoundFooter:#F7931A;
    --RayaBorde:#c7c3c1;
    --colorBlueText:#1A9AF7;
    --colorSoftBlue:#E7F5FF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    font-family: 'DM Sans', sans-serif;
}
.mainContainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainContainer .ContainerTasa{
    width: 250px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    background: #1C2833;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.24);
}
.mainContainer .seccion1 .ContainerTasa .containerMoney{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.mainContainer .seccion1 .ContainerTasa .containerMoney .CajaCoin{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainContainer .seccion1 .ContainerTasa .containerMoney .CajaCoin p{
    color: #ffff;
    font-weight: bold;
}
.mainContainer .seccion1 .ContainerTasa .containerMoney .CajaCoin td:nth-child(2) p{
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainContainer .seccion1 .ContainerTasa .containerMoney .titleMoney{
    text-align: center;
    color: #ffffff;
    padding: 10px 0 0 0;
    font-weight: bold;
}
.mainContainer .seccion1 .ContainerTasa .containerMoney .tasaMoney .CajaCoin .LogoCripto{
    width: 15px;
    height: 15px;
}
.mainContainer .seccion1 .ContainerTasa .containerMoney .infActualMoney{
    width: 100%;
    height: 40px;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: var(--ColorSofOrange);
    font-size: var(--mn);
    font-weight: bold;
}
.mainContainer .seccion1 .ContainerTasa .containerMoney .infActualMoney p span{
    color: var(--ColorGrayTextPrice);
    font-size: var(--mn);
}